<h1>

 Showing Article Details : 
</h1>
<body>
<ul>
<li>
Title:  <%= @articleNo1.title %>
</li>
<li>
Description:  <%= @articleNo1.des %>
</li>
<li>
Author:  <%= @articleNo1.author %>
</li>
<br> 
</ul>
</body>
