<h1>

 Showing Article Details : 
</h1>
<body>
<ul>
  
    <li>
    Title:  <%= @articleNo2.title %>
    </li>
    <li>
    Description:  <%= @articleNo2.des %>
    </li>
    <li>
    Author:  <%= @articleNo2.author %>
    </li>
    <br>
 
</ul>
</body>
