<% flash.each do |name ,msg| %>
  <%= msg %>
  <% end %>

<h1>Showing Article Details : 
</h1>
<body>
<ul>
<li>
Title:  <%= @article.title %>
</li>
<li>
Description:  <%= @article.des %>
</li>
<li>
Author:  <%= @article.author %>
</li>
<br> 
</ul>
</body>
