@keyframes banner {
    0% {
        transform: translate(-40vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section0_box1_android {
    0% {
        transform: scale(0%);
        transform-origin: center;
    }

    100% {
        transform: scale(100%)
    }
}

@keyframes section0_box2_android {
    0% {
        transform: scale(0%);
        transform-origin: center;
    }

    100% {
        transform: scale(100%)
    }
}

@keyframes section0_box3_android {
    0% {
        transform: scale(0%);
        transform-origin: center;
    }

    100% {
        transform: scale(100%)
    }
}

@keyframes section0_box4_android {
    0% {
        transform: scale(0%);
        transform-origin: center;
    }

    100% {
        transform: scale(100%)
    }
}

@keyframes section1_bottom_left_android {
    0% {
        transform: translateY(70vh);

    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes section1_bottom_center_android {
    0% {
        transform: translateY(70vh);

    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes section1_bottom_right_android {
    0% {
        transform: translateY(70vh);

    }

    100% {
        transform: translateY(0vh);
    }
}



@keyframes section1_top_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section2_top_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}


@keyframes section2_middle_android {
    0% {
        transform: translate(-100vw);
    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section2_bottom_android {
    0% {
        transform: translate(100vw);
    }

    100% {
        transform: translate(0vw);
    }
}


@keyframes section3_top_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section3_bottom_box1_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section3_bottom_box2_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section3_bottom_box3_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}



@keyframes section4_top_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section4_box1_android {
    0% {
        transform: translate(50vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section4_box2_android {
    0% {
        transform: translate(50vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section4_box3_android {
    0% {
        transform: translate(-20vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section4_box4_android {
    0% {
        transform: translate(120vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes section5_top_android {
    0% {
        transform: scale(90%);

    }

    100% {
        transform: scale(100%);
    }
}

@keyframes section5_form_android {
    0% {
        transform: translateY(50vh);

    }

    100% {
        transform: translateY(0vh);
    }
}









/*     
@keyframes android_banner {
    0% {
        transform: translate(-20vw);

    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes android_section2_middle {
    0% {
        transform: translate(-100vw);
    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes android_section2_bottom {
    0% {
        transform: translate(100vw);
    }

    100% {
        transform: translate(0vw);
    }
}

@keyframes android_section1 {
    0% {
        transform: translateY(50vh);
    }

    100% {
        transform: translateY(0vh);
    } */




/* animation: forwards;
animation-duration: 1s;
animation-name: banner;
animation-direction: normal; */










@media screen and (max-width: 400px) {



    .header-banner {
        width: 100vw;
    }

    header {
       
        display: block;
        background-color: transparent;
        transition-property: height;
        transition-timing-function: ease-in;
        transition-duration: 0.2s;
    }

    #download {

        padding-left: 6px;
        width: 26vw;
        height: 6vh;
        font-size: inherit;
        border: none;
        border-radius: 2px;
        box-shadow: 2px 2px 2px #201e1ea1;
        color: white;
        background-color: rgb(228, 19, 19);
        margin-bottom: 2px;
    }

    #nav-button {
        display: inline;
        position: absolute;
        right: 10px;
    }

    nav{
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    header nav ul li {
        display: none;
        line-height: 25px;
        position: relative;
        margin: 10px;
        padding-right: 170px;
        font-size: 16px;
    }

    header p {
        text-align: center;
        justify-content: center;
        padding-left: 35px;
        padding-top: 0px;
        font-weight: 100;
        padding-top: 2px;
        margin: 0;
        float: left;
    }

    #nav-button {
        display: inline;
        float: right;
        padding-right: 15px;
        padding-top: 0px;
    }

    .banner h1 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        top: 10px;
        width: 100vw;
        text-align: center;
    }

    .banner {
        margin: 0;
        padding: 0;
        padding-right: 20px;
        padding-top: 180px;
        justify-content: center;
    }

    .banner p {
        width: 80vw;
        text-align: center;
        justify-content: center;
        font-weight: 50;
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .view_demo {
        margin-left: 30px;
        height: 8vh;
        padding: 5px;
        width: 40vw;

    }

    .learn_more {
        height: 8vh;
        padding: 5px;
        width: 40vw;


    }


    .section0 {
        padding: 0;
        margin: 0;
        display: block;
        color: white;
    }

    .section0 p {
        line-height: 25px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .section0 .box1 {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        line-height: 20px;

    }

    .section0 .box2 {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;

    }

    .section0 .box3 {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;

    }

    .section0 .box4 {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;

    }

    .section1 .top {

        justify-content: center;
        text-align: center;
        font-size: large;

    }

    .section1 {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .section1 .top h1 {
        font-size: 33px;
        font-weight: 500;

    }

    .section1 .top p {
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    }

    .section1 .bottom {
        justify-content: center;
        text-align: center;
        display: block;
    }

    .section1 .bottom p {
        padding-left: 10px;
        padding-right: 10px;

    }

    .section1 .bottom .left {
        visibility: hidden;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;

    }

    .section1 .bottom .middle {
        visibility: hidden;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }

    .section1 .bottom .right {
        visibility: hidden;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }




    .section2 {
        width: 100vw;
        padding: 0%;
        margin: 0;
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .section2 .top {}

    .section2 .top h1 {
        font-size: 30px;
        padding-bottom: 16px;
        text-align: center;
    }

    .section2 .top h1 {
        font-size: 33px;
        font-weight: 500;

    }

    .section2 .top p {
        font: 100;

        margin: 0px;
        font-size: large;
        margin-left: 40px;
        width: 80vw;
        text-align: center;
        margin-bottom: 12px;


    }

    .section2 .middle img {
        margin: 0%;
        margin: 30px;
        display: block;
        width: 85vw;
        margin-bottom: 30px;

        height: 40vh;
        border-radius: 3px;
        margin-top: 10px;

    }

    .section2 .middle {


        display: block;
        margin-bottom: 10vh;
        margin-top: 30px;


    }

    .section2 .middle .content {
        justify-content: center;
        text-align: center;
        padding-left: 35px;
        margin: 10px;


    }

    .section2 h2 {
        display: inline;

    }

    .section2 .bottom img {
        margin: 0%;
        margin: 30px;
        display: block;
        margin-top: 30px;

        width: 85vw;
        height: 40vh;
        border-radius: 3px;
        margin-top: 10px;



    }

    .section2 .bottom {
        display: block;
        width: 100vw;
        margin-bottom: 10vh;
        margin-top: 30px;
    }

    .section2 .bottom .content {
        width: 80vw;
        justify-content: center;
        text-align: center;
        padding-left: 30px;
        margin: 10px;
        margin-bottom: 20px;



    }




    .section3 {
        background-color: #3949ab;
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .section3 .top h1 {
        font-size: 40px;
        font-weight: 200;
        padding-bottom: 15px;
    }

    .section3 .top {
        color: white;
        justify-content: center;
        text-align: center;
        width: 90vw;
        padding-left: 20px;
        padding-right: 20px;

    }

    .section3 .bottom {

        display: block;
        padding-left: 15px;
        padding-right: 20px;
        padding-top: 15px;
        color: white;
        padding-bottom: 0px;
    }

    .section3 .bottom p {
        font-weight: 1000;
    }

    .section3 .bottom h1 {
        font-size: 33px;
        font-weight: 500;

    }

    .section3 .button1 {

        height: 9vh;
        width: 30vw;

    }

    .section3 .button2 {
        height: 9vh;
        width: 30vw;
    }

    .section3 .button3 {
        height: 9vh;
        width: 30vw;
    }


    .section3 .bottom .box1 {
        visibility: hidden;
        height: 90vh;
        width: 90vw;
        margin-bottom: 20px;


    }

    .section3 .bottom .box2 {
        visibility: hidden;
        height: 90vh;
        width: 90vw;
        margin-bottom: 20px;

    }

    .section3 .bottom .box3 {
        visibility: hidden;
        height: 90vh;
        width: 90vw;
        margin-bottom: 20px;

    }

    .section4 {
        background-color: white;
        padding-top: 40px;
        width: 100vw;

    }

    .section4 .top h1 {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        font-size: 40px;
        font-weight: 200;
    }


    .section4 .top p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section4 .top {
        justify-content: center;
        text-align: center;
        width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 60px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
    }

    .section4 .bottom {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        padding-bottom: 50px;


    }

    .section4 .bottom p {
        font: bold;
        font-weight: 500;
        font-size: 30px;


    }

    .section4 .bottom small {
        color: blue;
        font-weight: 400;
        font-size: 15px;

    }

    .section4 .bottom img {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 6px;
        box-shadow: 0 8px 17px 0 rgba(34, 33, 33, 0.904), 0 6px 20px 0 rgb(0 0 0 / 19%);



    }

    /* .section4_upper{
    margin-left: 200px;


} */

    .section4 .bottom .container {
        margin-top: 10px;
        margin-left: 4%;
        padding: 0%;
        width: 50vw;
        float: none;
        justify-content: center;
        text-align: center;
    }

    .section4 .bottom .box1 {
        /* padding-left: 50px; */
        margin-left: 0px;
        padding-left: 90px;
        padding-bottom: 40px;
        width: 100vw;
        visibility: hidden;
    }

    .section4 .bottom .box2 {
        margin-left: 0px;
        padding-left: 90px;
        padding-bottom: 40px;
        width: 100vw;
        visibility: hidden;

    }

    .section4 .bottom .box3 {
        margin-left: 0px;
        padding-left: 90px;
        padding-bottom: 40px;
        visibility: hidden;
        width: 100vw;


    }

    .section4 .bottom .box4 {
        margin-left: 0px;
        padding-left: 90px;
        padding-bottom: 40px;
        visibility: hidden;
        width: 100vw;


    }

    .section5 .top h1 {

        justify-content: center;
        text-align: center;
        font-size: 40px;
        font-weight: 200;
        padding-bottom: 15px;
    }

    .section5 {
        padding-top: 60px;
        background-size: 1200px 1200px;
        background-repeat: no-repeat;
        margin-top: 20px;
        padding-bottom: 20px;
        height: auto;
    }

    .section5 .top {

        justify-content: center;
        text-align: center;
        width: 100vw;
        margin-left: 0px;
        font-size: 18px;
        font-weight: 100;
    }

    .section5 .top p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section5 .form {
        display: block;
        margin-top: 40px;
        margin-left: 20px;
        border-radius: 5px;
        width: 90vw;
        height: 150vh;
    }

    #name {

        width: 70vw;


    }

    #email {
        width: 70vw;
        margin-top: 120px;
        margin-left: 50px;

    }

    #subject {
        margin-top: 210px;
        width: 70vw;
    }

    #message {
        margin-top: 300px;
        width: 70vw;


    }

    .section5 button {
        margin-top: 400px;
        width: 30vw;

    }


    .section5 .links-box {
        position: absolute;
        padding-top: 10px;
        margin-left: 50px;
        margin-top: 60px;
        justify-content: center;
        text-align: center;


    }

    .section6 {}



    footer {
        width: 100vw;
    }
}