
*{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

 #nav-button{
    display: none;
   
}



.header-banner {
    background-image: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%), url('back-header.jpg');
    background-size: 100% 100%;
    height: 100vh;
    color: white;
}

.banner {
    padding-top: 250px;
    justify-content: center;
    padding-left: 100px;
    text-align: left;
}

.view_demo {
    background-color: white;
    color: black;
    margin-right: 15px;
    justify-content: center;
    height: 8vh;
    width: 12vw;

}

.learn_more {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    height: 8vh;
    width: 12vw;
    justify-content: center;

}

.header-banner header {
    color: white;
    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: 1px 1px 3px#2b2828ab;
}

.banner h1 {
    font-size: 40px;

}

.nav_main {
    width: 50vw;
    font-weight: 200;
    line-height: 25px;
}

button {
    padding-left: 6px;
    width: 9vw;
    height: 6vh;
    font-size: inherit;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px#201e1ea1;
    color: white;
    background-color: rgb(228, 19, 19);

}

nav p {
    font-weight: 800;
    font-size: 20px;
    display: inline-flex;
    padding-left: 80px;
    padding-top: 20px;
}

nav ul {
    display: inline;
    float: right;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;


}

nav ul li {
    display: inline;
    padding-right: 20px;
    font-size: 16px;

}


footer {

    height: 25px;
    position: relative;
    color: white;
    padding-top: 5px;
    justify-content: center;
    background-color: rgb(16, 16, 114);
    text-align: center;

}

.section0 {
    display: flex;
    color: white;
}

.section0 .box1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: darkblue;
    width: 25%;
    justify-content: center;
    text-align: center;

}

.section0 .box2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: purple;
    width: 25%;
    justify-content: center;
    text-align: center;
}

.section0 .box3 {
    background-color: blueviolet;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    width: 25%;
    text-align: center;
}

.section0 .box4 {
    background-color: rgb(58, 171, 209);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    width: 25%;
    text-align: center;
}

.section0 h3 {
    color: white;
}

.section1 .top {

    justify-content: center;
    text-align: center;
    font-size: large;

}

.section1 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section1 .top h1 {
    font-size: 40px;
}

.section1 .top p {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 18px;
}

.section1 .bottom {
    justify-content: center;
    text-align: center;
    display: flex;
}

.section1 .left {
    padding-left: 10px;
    padding-right: 10px;
}

.section1 .middle {
    padding-left: 10px;
    padding-right: 10px;
}

.section1 .right {
    padding-left: 10px;
    padding-right: 10px;
}

.section2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section2 .top {

    font-size: large;
}

.section2 .top h1 {
    font-size: 40px;
    padding-bottom: 16px;
    text-align: center;
}

.section2 .top p {
    padding-top: 30px;
    margin-left: 200px;
    width: 70vw;
    text-align: center;
    margin-bottom: 12px;


}

.section2 .middle img {
    margin-left: 130px;
    width: 40vw;
    height: 50vh;
    border-radius: 3px;
    margin-top: 10px;

}

.section2 .middle {

    width: 90vw;
    display: flex;
    margin-bottom: 10vh;
    margin-top: 30px;


}

.section2 .middle .content {
    display: block;
    margin-left: 50px;
}

.section2 h2 {
    display: inline;
}

.section2 .bottom img {
    border-radius: 3px;
    width: 40vw;
    height: 50vh;
    margin-left: 100px;
    margin-top: 50px;



}

.section2 .bottom {
    margin-top: 50px;
    display: flex;
    width: 90vw;
    margin-bottom: 20px;



}

.section2 .bottom .content {
    display: block;
    margin-left: 140px;
    width: 50vw;

}

.section3 {
    background-color: #3949ab;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section3 .top h1 {
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 15px;
}

.section3 .top {
    color: white;
    justify-content: center;
    text-align: center;
    width: 90vw;
    padding-left: 20px;
    padding-right: 20px;

}

.section3 .bottom {

    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: white;
    padding-bottom: 15px;
}

.section3 .bottom p {
    font-weight: 1000;
}

.section3 .bottom h1 {
    font-size: 4em;
    font-weight: 10;
    font-family: 'Courier New', Courier, monospace;
}

.section3 .button1 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    height: 6vh;
    width: 9vw;
    justify-content: center;
}

.section3 .button2 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    height: 6vh;
    width: 9vw;
    justify-content: center;
}

.section3 .button3 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    height: 6vh;
    width: 9vw;
    justify-content: center;
}


.section3 .bottom .box1 {
    background-image: linear-gradient(to bottom, rgba(58, 58, 49, 0.5), rgba(36, 36, 39, 0)), url('section-3.jpg');
    background-size: auto 915px;
    padding-top: 15px;
    line-height: 10vh;
    border-radius: 5px;
    height: 90vh;
    width: 70vw;
    justify-content: center;
    text-align: center;

    margin-right: 5px;

}

.section3 .bottom .box2 {
    background-image: linear-gradient(to bottom, rgba(0, 62, 133, 0.938), rgba(60, 116, 102, 0)), url('section-3.jpg');
    background-size: auto 915px;
    padding-top: 15px;
    line-height: 10vh;
    border-radius: 5px;
    height: 90vh;
    width: 70vw;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    /* background-color: greenyellow; */

}

.section3 .bottom .box3 {
    background-image: linear-gradient(to bottom, rgba(136, 20, 0, 0.849), rgba(134, 88, 88, 0)), url('section-3.jpg');
    background-size: auto 915px;
    padding-top: 15px;
    line-height: 10vh;
    height: 90vh;
    width: 70vw;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.section4 {
    background-color: white;

}

.section4 .top h1 {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 200;
}

.section4 .top {
    justify-content: center;
    text-align: center;
    width: 90vw;
    margin-bottom: 10px;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 20px;
}

.section4 .bottom {

    display: flex;
    margin-top: 25px;

}

.section4 .bottom p {
    font: bold;
    font-weight: 500;
    font-size: 30px;

}

.section4 .bottom small {
    color: blue;
    font-weight: 400;
    font-size: 15px;

}

.section4 .bottom img {
    border-radius: 6px;



}

.section4 .bottom .upper {
    margin-left: 200px;


}

.section4 .bottom .container {
    margin-top: 10px;
    padding-left: 10px;
    width: 20vw;
    float: right;

}


.section4 .bottom .box2 {
    margin-top: 20px;
}

.section4 .bottom .box4 {
    margin-top: 20px;
}

.section5 h1 {
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

.section5 {
    padding-top: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(36, 36, 39, 0)), url('section5.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 20px;
    height: 100vh;
}

.section5 .top {
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    width: 70vw;
    margin-left: 200px;
    font-size: 20px;
}

.section5 .form {
    display: flex;
    margin-top: 40px;
    margin-left: 65px;
    border-radius: 5px;
    width: 90vw;
    height: 70vh;
    background-color: white;


}

#name {
    position: absolute;
    width: 25vw;
    padding-top: 10px;
    margin-left: 50px;
    margin-top: 40px;
    color: gray;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;

}

#email {
    position: absolute;
    width: 25vw;
    padding-top: 10px;
    margin-left: 400px;
    margin-top: 40px;
    color: gray;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;

}

#subject {
    position: absolute;
    width: 55vw;
    padding-top: 10px;
    margin-left: 50px;
    margin-top: 140px;
    color: gray;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;

}

#message {
    position: absolute;
    width: 25vw;
    margin-left: 50px;
    margin-top: 250px;
    color: gray;
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;


}

.section5 button {
    display: inline;
    padding: 6px;
    width: 10vw;
    height: 8vh;
    font-size: inherit;
    border: none;
    margin-top: 350px;
    margin-left: 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px#201e1ea1;
    color: white;
    background-color: rgb(228, 19, 19);

}


.section5 .links-box {
    position: absolute;
    padding-top: 10px;
    margin-left: 840px;
    margin-top: 60px;
    justify-content: center;
    text-align: center;


}

.section6 {
    color: white;
    height: 8vh;
    justify-content: center;
    text-align: center;
    padding-top: 18px;
    background-color: rgb(0, 0, 255);

}